@import "tailwindcss";
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #C06014;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #F7F3E9;
}
button:hover{
  cursor: pointer;
  
}

/* Tailwind scrollbar support */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(192, 96, 20, 0.6);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
@media (max-width: 1280px){
  #navbar-menu{
    padding-right: 60px;
    
  }
}
@media (max-width: 1260px){
  #navbar-menu{
    display: none;
  }
  #menu-button{
    display: flex;
  }
}